<style>
        h1{text-align: center;}
        
        hr{
            width: 75%;
            color: aqua;
        }
        body{text-align: center;
        background-color: aquamarine;
        }
        

    </style>